.App {
  text-align: center;
}

h1 {
  font-family: "Bigelow Rules";
  font-size: 6rem;
  color: #0ccac4;
}

/* text-shadow: [x-offset] [y-offset] [blur-radius] [color]; */

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 40px #0fa, 0 0 70px #0fa, 0 0 100px #0fa, 0 0 10px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.monsters-neon {
  animation: flicker 2s infinite alternate;
}
